h1,h2,h3,h4,h5,h6,p,ul,li,p,ol{
    margin: 0;

}
:root{
    --primary-font: 'Poppins', sans-serif;
    --second-font: 'PT Sans', sans-serif;

}
a, a:hover{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}



input, .form-control:focus{
    outline: 0;
    box-shadow: none;
}


#primary_nav ul li a{
    padding: 18px 44px;
    color: #353535;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 30px */
    text-transform: uppercase;

}

